<!-- Index.handlebars 
from cats in classassignment-->

<h1>BURGERS!</h1>

<h2>Burgers Available!</h2>


<ul>
  {{#each burger}}
    {{#unless this.devoured}}
      <li>
        {{this.burgername}}

		<form action="burger/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">BURGER TIME (Put it on the table)!</button>
        </form>

      </li>
    {{/unless}}
  {{/each}}
</ul>


<h2>Burgers that have been eaten = DEVOURED!</h2>
<ul>
  {{#each burger}}
    {{#if this.devoured}}
      <li>
        {{this.burgername}}

      </li>
    {{/if}}
  {{/each}}
</ul>


<h2>Add a burger</h2>
<form class="create-update-form" action="burger/create" method="POST">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="burgername">
  </div>







  <button type="submit">Add Burger</button>
</form>